@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'open-sans';
  src: url('/static/fonts/open-sans.ttf');
}

* {
 font-family: open-sans;
}

h1 {
  @apply text-4xl mb-4;
}

h3 {
  @apply text-2xl;
}

.markdown > p{
  @apply mb-5;
}
